.Section {
	min-height: 61.8vw;
	box-sizing: border-box;
	text-align: center;
}

.DisplayImage {
	max-height: 380px;
}

.HelpDocContainer {
	display: flex;
	flex-direction: row;
	overflow-y: hidden;
	padding-left: 2rem;
}

.HelpDocContainer > * {
	margin-top: 1.5rem;
}

.ScreenPage {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	background: white;
	width: 100%;
	height: 100%;
}

.Article {
	overflow-y: auto;
	flex-grow: 1;
	width: min-content;
	padding-right: 2rem;
}

.Article img {
	max-width: 80%;
}

.GettingStart label {
	color: white !important;
}
